{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viewcomment</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
</head>
<body>
    <table class="table table-striped table-dark">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
           
            <td>msg</td>
            <td>Delete</td>
            
        </tr>
        {% for row in rows%}
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.fullname}}</td>
            <td>{{row.email}}</td>
           
            <td>{{row.comment}}</td>
            

            <td>
                <a href="/delete_review/{{row.id}}">Delete</a>
            </td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>